.btn-register{
    background-color: #0fa3b1;
    color: #ffffff;
}

.btn-register:hover {
    background-color: #0fa3b1 !important;
    color: #ffffff !important;
}

.btn-spacing {
    margin-top: 200px;
    background-color: #b33951;
    color: #ffffff;
}

    .btn-spacing:hover {
    background-color: #b33951;
    color: #ffffff;
}

.btn-login{
    background-color: #b33951;
    color: #ffffff;
}